public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@commitlint/cli
# Fix CI/CD Github ERR_PNPM_BAD_PM_VERSION  This project is configured to use v9.1.2 of pnpm. Your current pnpm is v9.1.3
package-manager-strict=false
